---
import Button from "@components/ui/Button.astro";
import CustomImage from "@components/ui/CustomImage.astro";
import { ArrowDownRight } from "lucide-react";

const { heading, description, buttons, image } = Astro.props;
---

<section>
  <div class="0 lg:ga0 container grid items-center lg:grid-cols-2">
    <div
      class="mx-auto flex flex-col items-center text-center md:ml-auto lg:max-w-3xl lg:items-start lg:text-left"
    >
      <h1 class="my-6 text-pretty text-4xl font-bold lg:text-6xl xl:text-7xl">
        {heading}
      </h1>
      <p class="text-muted-foreground mb-8 max-w-xl lg:text-xl">
        {description}
      </p>
      <div
        class="ga flex w-full flex-col justify-center sm:flex-row lg:justify-start"
      >
        {
          buttons.primary && (
            <Button class="w-full sm:w-auto">
              <a href={buttons.primary.url}>{buttons.primary.text}</a>
            </Button>
          )
        }
        {
          buttons.secondary && (
            <Button variant="outline">
              <a href={buttons.secondary.url}>
                {buttons.secondary.text}
                <ArrowDownRight className="size-4" />
              </a>
            </Button>
          )
        }
      </div>
    </div>
    <div class="flex">
      <CustomImage
        width={600}
        height={600}
        src={image}
        alt="placeholder hero"
        className="max-h-[600px] w-full rounded-md object-cover lg:max-h-[800px]"
      />
    </div>
  </div>
</section>
