---
interface Feature {
  icon: string;
  title: string;
  text: string;
}

export interface Props {
  title: string;
  description: string;
  features: Feature[];
  image: string;
}

const { title, description, features, image } = Astro.props;
---

<section class="bg-white py-20">
  <div class="2 mx-auto grid max-w-7xl items-center gap-8 px-6 md:grid-cols-2">
    <!-- Left -->
    <div>
      <h2 class="text-primary mb-4 text-4xl font-semibold">{title}</h2>
      <p class="mb-10">{description}</p>

      <div class="grid gap-6 rounded-xl bg-indigo-50 p-6 sm:grid-cols-2">
        {
          features.map(feature => (
            <div class="flex items-start gap-4">
              <img
                src={feature.icon}
                alt={feature.title}
                class="bg-primary h-10 w-10 rounded-full object-contain p-2"
              />

              <div>
                <h4 class="font-medium text-indigo-900">{feature.title}</h4>
                <p class="text-sm text-gray-600">{feature.text}</p>
              </div>
            </div>
          ))
        }
      </div>
    </div>

    <!-- Right -->
    <div class="h-full w-full">
      <img
        src={image}
        alt={""}
        class="h-full rounded-xl object-cover shadow-md"
      />
    </div>
  </div>
</section>
