---
import { getEntry } from "astro:content";
const footer = await getEntry("footer", "footer");
const {
  logo,
  description,
  sections = [],
  contact = {},
  socials = [],
} = footer?.data ?? {};
---

<footer class="bg-gray-50">
  <div class="container mx-auto px-6 pb-8 pt-16 sm:pt-24 lg:px-8 lg:pt-32">
    <div class="xl:grid xl:grid-cols-3 xl:gap-8">
      <div class="space-y-8">
        {logo && <img src={logo} alt="Company logo" class="h-24" />}
        {
          description && (
            <p class="text-balance text-sm/6 text-gray-600">{description}</p>
          )
        }
        <div class="flex gap-x-6">
          {
            socials.map(
              (social: { url: string; icon: string; label?: string }) => (
                <a
                  href={social.url}
                  class="hover:opacity-80"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <img
                    src={social.icon}
                    alt={social.label || "Social"}
                    class="h-6 w-6"
                  />
                </a>
              )
            )
          }
        </div>
      </div>
      <div class="mt-16 grid grid-cols-3 gap-8 xl:col-span-2 xl:mt-0">
        {
          sections.map(
            (section: {
              title: string;
              links?: { href: string; text: string }[];
            }) => (
              <div>
                <h3 class="text-sm/6 font-semibold text-gray-900">
                  {section.title}
                </h3>
                <ul role="list" class="mt-6 space-y-4">
                  {section.links?.map(
                    (link: { href: string; text: string }) => (
                      <li>
                        <a
                          href={link.href}
                          class="text-sm/6 text-gray-600 hover:text-gray-900"
                        >
                          {link.text}
                        </a>
                      </li>
                    )
                  )}
                </ul>
              </div>
            )
          )
        }
      </div>
    </div>
    {
      contact && (
        <div class="mt-10 text-sm text-gray-600">
          {contact.email && (
            <div>
              Email: <a href={`mailto:${contact.email}`}>{contact.email}</a>
            </div>
          )}
          {contact.phone && (
            <div>
              Phone: <a href={`tel:${contact.phone}`}>{contact.phone}</a>
            </div>
          )}
          {contact.address && <div>Address: {contact.address}</div>}
        </div>
      )
    }
    <div class="mt-16 border-t border-gray-900/10 pt-8 sm:mt-20 lg:mt-24">
      <p class="text-sm/6 text-gray-600">
        &copy; {new Date().getFullYear()} Moorhouse Coating, Inc. All rights reserved.
      </p>
    </div>
  </div>
</footer>
