---
export interface Stat {
  value: string;
  label: string;
}

export interface Location {
  name: string;
  address: string;
  phone: string;
  email: string;
  mapSrc: string;
}

export interface LocationsSectionProps {
  title: string;
  description: string;
  stats: Stat[];
  locations: Location[];
}
import { Phone, Mail } from "lucide-react";
const { title, description, stats, locations } = Astro.props;
---

<section class="mx-auto max-w-7xl px-4 py-16">
  <div
    class="flex justify-between items-center lg:flex-row flex-col mb-8 gap-12"
  >
    <div class="mb-10 lg:w-1/2 w-full">
      <h2 class="text-3xl font-bold leading-snug text-primary">{title}</h2>
      <p class="mx-auto mt-4 max-w-3xl text-gray-600">{description}</p>
    </div>

    <div
      class="mb-12 grid grid-cols-1 gap-4 text-center md:grid-cols-2 lg:w-1/2 w-full"
      "
    >
      {
        stats.map((stat: Stat, idx: number) => (
          <div
            class={
              "rounded bg-purple-50 border-dashed border border-primary p-6" +
              (idx === 0 ? " md:col-span-2" : "")
            }
          >
            <p class="text-3xl font-bold text-secondary">{stat.value}</p>
            <p class="mt-2 text-gray-700">{stat.label}</p>
          </div>
        ))
      }
    </div>
  </div>
  <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
    {
      locations.map((loc: Location) => (
        <div class="flex overflow-hidden rounded-xl border border-dashed border-purple-200 shadow-sm  bg-white">
          <div class="w-1/2">
            <iframe
              src={loc.mapSrc}
              class="h-64 w-full  duration-300"
              loading="lazy"
              allowfullscreen
            />
          </div>

          <div class="flex w-1/2 flex-col justify-between p-6">
            <div>
              <h3 class="text-xl font-semibold text-gray-900">{loc.name}</h3>
              <p class="mt-1 text-sm text-gray-500">{loc.address}</p>
            </div>

            <div class="mt-6 space-y-3 text-sm">
              <p class="flex items-center gap-2 text-gray-700">
                <Phone class="h-4 w-4 text-green-500" />
                {loc.phone}
              </p>
              <p class="flex items-center gap-2 text-gray-700">
                <Mail class="h-4 w-4 text-green-500" />
                {loc.email}
              </p>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</section>
